@page
@model AnimalCrossingTracker.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<div class="text-center mt-5">
    <h3>Has cerrado sesión correctamente 🍃</h3>
    <a asp-page="/Account/Login" class="btn btn-primary mt-3">Volver a iniciar sesión</a>
</div>
